{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-1">

    </div>
    <div class="home_container col-4">
        Drinks to Learn
        <ul>
            <li>Espresso</li>
            <li>Latte</li>
            <li>Cappuccino</li>
            <li>Americano</li>
            <li>Flat White</li>
            <li>Macchiato</li>
        </ul>
    </div>
    <div class="col-1">

    </div>
    <div class="home_container col-4">
        Take the Quiz
    </div>

</div>


{% endblock %}