{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-1">

    </div>
    <div class="home_container col-4">
        Drinks to Learn
        <ul>
            {% for drink in drinks %} 
                <a href="/learn/{{drink.id}}"><li>{{drink.name}}</li></a>
            {% endfor %}
        </ul>
    </div>
    <div class="col-1">

    </div>
    <a href="/quiz">
    <div class="home_container col-4">
        Take the Quiz
    </div>
</a>

</div>


{% endblock %}