{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-1">

    </div>

    <div class="home_container col-4">
        Espresso
        <br>
        <img src="../static/images/espresso.png">
    </div>

    <div class="col-1">

    </div>

    <div class="home_container col-4">
        Ingredients
        <ul>
            <li>1 part espresso</li>
        </ul>
        Taste Profile
        <ul>
            <li>Bitter</li>
        </ul>
        Similar Drinks
        <ul>
            <li>Macchiato</li>
            <li>Americano</li>
        </ul>
    </div>

</div>
<div class="row">
    <div class="col-8">

    </div>

    <div class="home_container col-1">
        <button>Make Yourself</button>
    </div>
</div>


{% endblock %}