{% extends "layout.html" %}

{% block content %}

<script>
    let item = {{item|tojson}}
</script>

<div class="row">
    <div class="col-1">

    </div>

    <div class="home_container col-4">
        {{item['name']}}
        <br>
        <img src="{{item['img']}}">
    </div>

    <div class="col-1">

    </div>

    <div class="home_container col-4">
        Ingredients
        <ul>
            {% for x in item["ingredients"] %}
                <li>{{x}}</li>
            {% endfor %}
        </ul>
        Taste Profile
        <ul>
            <li>{{item["taste_profile"]}}</li>
        </ul>
        Similar Drinks
        <ul>
            {% for x in item["similar_drinks"] %}
                <li>{{x}}</li>
            {% endfor %}
        </ul>
    </div>

</div>
<div class="row">
    <div class="col-8">

    </div>

    <div class="home_container col-1">
        <a href="/make/{{item.id}}"><button>Make Yourself</button></a>
    </div>
</div>


{% endblock %}