{% extends "layout.html" %}

{% block content %}

<style>
    #title{
        text-align: center;
        background-color: white;
    }
    #drinkname{
        font-size: 36px;
    }
    #drink-image{
        padding-left: 90px;
    }
    #drink-info{
        background-color: white;
        font-size: 24px;
        margin: auto;
    }
    #info-wrapper{
        background-color: white;
        border: dashed;
    }
    #next-button{
        background-color: #a3795bff;
        color: #f5f5dc;
        font-size: 20px;
        border: none;
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 20px;
    }
    #button-div{
        padding-top: 20px;
    }
</style>

<script>
    let item = {{item|tojson}}
</script>






<div class="row">
    <div class="col-1">

    </div>

    <div class="home_container col-4" id="title">
        <div id="drinkname">
            {{item['name']}}
        </div>
        <img id="drink-image" src="{{item['img']}}">
    </div>

    <div class="col-1">

    </div>

    <div class="home_container col-4 d-flex align-items-center" id="info-wrapper">
        <div id="drink-info">
            Ingredients
        <ul>
            {% for x in item["ingredients"] %}
                <li>{{x}}</li>
            {% endfor %}
        </ul>
        Taste Profile
        <ul>
            <li>{{item["taste_profile"]}}</li>
        </ul>
        Similar Drinks
        <ul>
            {% for x in item["similar_drinks"] %}
                <li>{{x}}</li>
            {% endfor %}
        </ul>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-8">

    </div>

    <div class="col-2" id="button-div">
        <a href="/make/{{item.id}}"><button id="next-button">Next</button></a>
    </div>
</div>


{% endblock %}