{% extends "layout.html" %}

{% block content %}

<title>jQuery UI Droppable - Default functionality</title>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">

  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>

<script>
    let item = {{item|tojson}}
    let all_ingredients = {{all_ingredients|tojson}}
    let all_drinks = {{all_drinks|tojson}}
    let curr_ingredients = {{curr_ingredients|tojson}}
</script>
<script src="{{ url_for('static', filename='recipe_on.js') }}"></script>
<script src="{{ url_for('static', filename='make_item.js') }}"></script>
<script>
    localStorage.setItem("disableRecipes", "false");
</script>
<style>
    .mc-question{
        text-align: left;
        margin-top: 10px;
        font-size: 36px;
        width: 900px;
    }
    img {
        width: 130px;
        margin: 10px;
    }
    .ingredients-container{
        padding: 10px;
    }
    #steamed-milk-img{
        width: 170px;
        margin-left: 0px;
    }
    #small-foamed-milk-img{
        width: 100px;
    }
    #beaker{
        width: 300px;
        height: 350px;
        border: 3px solid black;
        border-radius: 20px;
        margin-top: 10px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: end;
    }
    #submit-button {
        padding: 10px;
        width: 175px;
        height: 60px;
    }
    #reset-button {
        width: 150px;
        height: 50px;
        padding: 10px;
        margin-top: 5px;
        margin-left: 70px;
        background-color: #f5f5dc;
        color: #a3795bff;
        border: 1px solid#a3795bff;
    }
    #buttons-row{
        margin-top: 10px;
        vertical-align: middle;
        padding-left: 65px;
    }
    .ingred{
        padding: 5px;
    }
    #dropped-espresso{
        background-color: #a3795bff;
        height: 50px;
        border-radius: 20px;
        color: #f5f5dc;
        text-align: center;
    }
    #dropped-water{
        background-color: #75cff9;
        height: 50px;
        border-radius: 20px;
        color: white;
        text-align: center;
    }
    #dropped-foamed-milk{
        background-color: #f5f5dc;
        height: 50px;
        border-radius: 20px;
        color: #a3795bff;
        text-align: center;
    }
    #dropped-small-foamed-milk{
        background-color: #f5f5dc;
        height: 30px;
        border-radius: 20px;
        color: #a3795bff;
        text-align: center;
    }
    #dropped-steamed-milk{
        background-color: white;
        height: 50px;
        border-radius: 20px;
        color: black;
        border: 3px solid black;
        text-align: center;
    }


</style>

<!-- <div> Drag and drop ingredients to make a cup of {{item["name"]}}</div> -->
<div class="row">
    <div class="col-2"></div> <!--padding-->
    <div class="col-4 mc-question">
        Drag and drop ingredients to make a cup of {{item["name"]}}
    </div>
</div>
<div class="row">
    <div class="col-1"></div> <!--padding-->

    <div class="col-3 ingredients-container" id="drag-container">
        <!-- TODO: make into draggable objects -->
        <div id="espresso-container">
            <div class="draggable" id="espresso">
                <img src="../static/images/ingredients/espresso-shot.png">
                1 part espresso
            </div>
        </div>
        <div id="foamed-milk-container">
            <div class="draggable" id="foamed-milk">
                <img src="../static/images/ingredients/frothed-milk.png">
                1 part foamed milk
            </div>
        </div>
        <div id="small-foamed-milk-container">
            <div class="draggable" id="small-foamed-milk">
                <img id="small-foamed-milk-img" src="../static/images/ingredients/frothed-milk.png">
                1 small part foamed milk
            </div>
        </div>
        

    </div>
    <div class="col-3 ingredients-container" id="drag-container">
        <!-- TODO: make into draggable objects -->
        <div id="water-container">
            <div class="draggable" id="water">
                <img src="../static/images/ingredients/glass-of-water.png">
                1 part water
            </div>
        </div>
        
        <div id="steamed-milk-container">
            <div class="draggable" id="steamed-milk">
                <img id="steamed-milk-img" src="../static/images/ingredients/steamed-milk.png">
                1 part steamed milk
            </div>
        </div>
        
    </div>


    <div class="col-4 droppable" id ="drop-container">
        <div class="row">
            Drop Here
        </div>
        <div id="beaker" class="row droppable">

            
        </div>
        <div class="row" id="buttons-row">
            <button id="submit-button" class="standard-button">Mix</button>
            <button id="reset-button" class="standard-button">Reset</button>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-2"></div> <!--padding-->
    <div class=" col-2">
        <a href="/multiple-choice/{{item.id}}"><button class="standard-button" id="back-button">Back</button></a>
    </div>
    <div class="col-6">

    </div>
</div>

<div id="resultdiv"></div>
<div class="row">
    <div class="col-8"></div>
    <div class="col-4" id="feedback"></div>
</div>
<div></div>
<div class="row">
    <div class="col-8"></div>
    <div class="col-4" id="next-div"></div>
</div>


{% endblock %}