{% extends "layout.html" %}

{% block content %}

<title>jQuery UI Droppable - Default functionality</title>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">

  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>

<script>
    let item = {{item|tojson}}
    let all_ingredients = {{all_ingredients|tojson}}
    let all_drinks = {{all_drinks|tojson}}
</script>

<script src="{{ url_for('static', filename='make_item.js') }}"></script>

<div> Drag and drop ingredients to make a cup of {{item["name"]}}</div>
<div class="row">
    <div class="col-1">

    </div>

    <div class="home_container col-4" id="drag-container">
        <!-- TODO: make into draggable objects -->
        

    </div>

    <div class="col-1">

    </div>

    <div class="home_container col-4 droppable" id ="drop-container">
        Drag Here
        <!-- TODO: make into droppable object -->
    </div>
</div>

<div id="resultdiv"></div>

<div class="row">
    <div class="home_container col-1">
        <button id="resetButton">Reset</button>
    </div>
    <div class="col-8">

    </div>

    <div class="home_container col-1">
        <button id="submitButton">Submit</button>
        <!-- TODO: check correctness and give feedback -->
    </div>
    <!-- TODO: add next button when submission is correct -->
</div>


{% endblock %}